<ion-header>
  <ion-navbar>
    <ion-title>
      My donations
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <hr>
<ion-list *ngFor="let dnrs of donations" class="animated fadeInLeft item-remove-animate item-avatar item-icon-right">
    <ion-item-sliding >
 <ion-item >
        <ion-avatar item-start>
          <img src="assets/donation.jpg">
        </ion-avatar>
        <h2>{{dnrs.name_np}}</h2>
        <p>{{dnrs.description}}</p> 
      </ion-item>
    <ion-item-options side="right">
      <button ion-button color="primary" (click)="onRequestDetailClick(dnrs)">
        <ion-icon name="text"></ion-icon>
        Request Details
      </button>
      <button ion-button color="secondary" (click)="onSelect(dnrs)">
        <ion-icon name="call"></ion-icon>
        Edit
      </button>
    </ion-item-options>
  </ion-item-sliding>

</ion-list>
    <div *ngIf="selectedDonor">
      <h2>{{selectedDonor.name_np}} details!</h2>
      <div><label>id: </label>{{selectedDonor.id}}</div>
      <div>
        <label>name: </label>
        <input [(ngModel)]="selectedDonor.name_np" placeholder="name"/>
      </div>
    </div>
</ion-content>